h1, html, body, em {
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  text-decoration: inherit;
  text-emphasis: none;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  background: transparent;
  text-align: inherit;
}

header {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 50px 0 0 0;
}

header > h1 {
  margin: auto;
  font-size: 20px;
}
header > em {
  margin: auto;
}

body {
  background: #FAFAFA
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  /*height: 600px;*/
  width: 600px;
  border: 1px solid #E5E5E5;
  background: white;
  border-radius: 2px;
}

.graph {
  /*border: 1px solid red;*/
  order: 1;
  height:auto;
  margin: auto;
  width: 600px;
  padding: 0 0 15px 0;

}

.caption {
  order:2;
  padding: 15px;
  border-top: 1px solid #E5E5E5;
}
